{% extends 'myapp/base.html' %}
{% block title%}log_chart_view{% endblock %}

{% block body %}
<head>
    <script>
            window.setTimeout(function () {location.href = "{{ redirect_url }}";}, 60000);
    </script>
    {% load chartit %}
    {{ logchart|load_charts:"chart_1,chart_2,chart_3,chart_4,chart_5,chart_6,chart_7,chart_8,chart_9,chart_10" }}
</head>
<body>
    <div id='chart_1'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_2'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_3'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_4'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_5'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_6'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_7'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_8'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_9'style="border: thin solid black; overflow: hidden;"></div>
    <div id='chart_10'style="border: thin solid black; overflow: hidden;"></div>

</body>

{% endblock %}