<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% block body %}
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h4>
<ol type="1">
 <li>
 <a href="https://status.aws.amazon.com/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="">AWS Service Health Dashboard</a>
</li>
<li>
 <a href="http://kafkamanager.mobilewalla.com:9000/clusters/mobilewalla-kafka-production/brokers" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Information of Broker's Query per Second (Bytes In/Out) and their combined metrics">Mobilewalla-kafka-production</a>
</li>

 <li>
 <a href="http://production.execution02.esearch.mobilewalla.com:9200/_plugin/hq/#" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" max-width= "350px" title="Elastic Search Management and Monitoring tool for Cluster Health and Indices">Production Execution02 hq</a>
</li>
<li>
 <a href="http://production.planning.esearch.mobilewalla.com:9200/_plugin/hq/#" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" max-width= "350px" title="Elastic Search Management and Monitoring tool for Cluster Health and Indices">Production Planning hq</a>
</li>

 <li>
 <a href="http://production.planning.esearch.mobilewalla.com:9200/_plugin/kopf/#!/cluster#cluster" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Elastic Search Management and Monitoring tool">Production Planning kopf</a>
</li>

 <li>
 <a href="http://elk.mobilewalla.com:9200/_plugin/hq/#" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="">ELK hq</a>
</li>

<li>
 <a href="http://elk.mobilewalla.com:9192/myapp/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="">MW Dashboard-(Bandwidth Monitoring and Error Log Track)</a>
</li>
<li>
 <a href="http://phabricator.mobilewalla.com/w/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Implementation Tracking Tool">Phabricator</a>
</li>

 <li>
 <a href="http://elk.mobilewalla.com:8880/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Helps visualizing our Elastic search data">Kibana</a>
</li>

 <li>
 <a href="http://monitor.wordsterbeta.com/nagios/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Nagios monitors systems, networks and infrastructure. It offers monitoring and alerting services for servers, switches, applications and services. It alerts users when things go wrong and alerts them a second time when the problem has been resolved.">Nagios</a>
</li>
<li>
 <a href="http://prod-ui.mobilewalla.com/DSP/login/auth" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Campaign tracking tool for Mobilewalla">MW-DSP</a>
</li>

 <li>
 <a href="https://mobilewalla.slack.com/threads/files/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="">Slack Chat</a>
</li>
<li>
 <a href="https://login.sling.is/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Tool for tracking Shifts assigned to Engineering Resources">Sling</a>
</li>
<li>
 <a href="http://owncloud.wordsterbeta.com/owncloud/index.php" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Self-hosted file sync and share server where MW Engineering Data is Stored">Owncloud</a>
</li>
 <li>
 <a href="http://jenkins.mobilewalla.com:8080/login?from=%2F" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Continuous Integration Tool for running tests automatically every time one pushes new code into the source repository">Jenkins</a>
</li>
 <li>
 <a href="https://mw-internal.signin.aws.amazon.com/console" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="All AWS services and servers can be found here">AWS Console</a>
</li>
<li>
 <a href="https://ipa.mobilewalla.net/ipa/ui/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Integrated Identity and Authentication solution for Linux/UNIX networked environments. Provides centralized authentication, authorization and account information by storing data about user, groups, hosts and other objects necessary to manage the security aspects of a network of computers.">IPA Server</a>
</li>
<li>
 <a href="https://zimbra.mobilewalla.net:7071/zimbraAdmin/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Email Server">Zimbra Admin</a>
</li>
<li>
 <a href="http://zimbra.mobilewalla.net/" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="Email Client">Zimbra Client</a>
</li>
<li>
 <a href="https://apps.rackspace.com/a/webmail.php" target="_blank" rel='stylesheet' data-toggle="tooltip" data-placement="auto right" title="MW Webmail">Rackspace Webmail</a>
</li>

    </h4>
</div>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
</ol>
</body>
</html>

{% endblock %}



